.t_wrap{
	height: 50px;
	background: #414244;
	position: fixed;
	width:100%;
	z-index: 100;
	top:0;
	box-shadow: 0 1px 2px 0 #FFF;
	left:0;
}
.t_wrap .l_wrap{
	height: 50px;
	position: absolute;
	left:18px;
}
.t_wrap a{
	height: 50px;
	width:9px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 0;
}
.t_wrap a img{
	width:6px;
	height: 12px;
	vertical-align: middle;
}
.t_wrap .title{
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	line-height: 50px;
}